* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "h1 h1"
        "imagen texto"
        "footer footer";
}

header {
    grid-area: header;
}

body {
    background-image: url(./rainbow-pastel-blurred-background-free-vector.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav {
    background-color: rgb(87, 45, 211);
    height: 50px;
    text-align: center;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    margin: 10px;
    line-height: 30px;
}


a {
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: h1;
    

}

.texto {
    display: flex;
    align-items: center;
    font-weight: bold;
    grid-area: texto;
}

.imagen {
    display: flex;
    justify-content: center;
    grid-area: imagen;
}


footer {
    background-color: rgb(226, 43, 214);
    margin-top: 50%;
    grid-area: footer;

}

iframe {
    width: 30%;

}